BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 160
AccessModifierOffset: -3
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
BreakBeforeBraces: Attach
PointerAlignment: Right
SortIncludes: CaseSensitive
SpaceBeforeParens: ControlStatements
Standard: c++20
